.container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.loginContainer{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url('@/assets/img/loginBg.webp');
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginLogo{
    z-index: 1;
    position: relative;
    left: 50px;
    top: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.loginLogoTitle{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
}