.primaryIcon{
    color: var(--color-primary);
}

.dangerIcon{
    color: var(--color-danger);
}

.page{
    margin-top: 20px;
}

.tableContainer{
    margin-top: 20px;
}

.divider{
    border-color: var(--color-border)
}