.primaryIcon{
    color: var(--color-primary);
}

.dangerIcon{
    color: var(--color-danger);
}

.page{
    margin-top: 20px;
}

.tableContainer{
    margin-top: 20px;
}

.divider{
    border-color: var(--color-border)
}

.header{
    color: var(--color-primary);
    font-size: 20px;
    margin-bottom: 20px;
    .title{
        margin-left: 8px;
    }
}