.toolContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.title{
    font-size: 16px;
    font-weight: bold;
    color: var(--color-text-base);
    margin-top: 20px;
}

.tool{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.primaryIcon{
    color: var(--color-primary);
}

.dangerIcon{
    color: var(--color-danger);
}

.formatTypeRadio{
    margin-left: 20px;
}

.formContainer{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.page{
    margin-top: 20px;
}